@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding: 0;    
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:opsz,wght@14..32,600&display=swap');
*{
    margin:0;
    padding: 0;    
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none; /* ссылки без подчеркивания */
    color: #634C9F;
}

.notification{
    background:#634C9F ;
    color: #FFFFFF;
    font-size: 12px;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
}

.notification__text {
    display: flex;  
    justify-content: flex-start;
    gap: 194px;
}

.notification__timer {
    color: rgba(255, 255, 255, 0.7); 
}

.header__top nav {
    display: flex;
    justify-content: space-between;
}

.header__top {
    padding: 10px 130px 10px; 
}

.header__top ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header__menu-text-left li a{
    display: flex;
    gap:15px;
    margin-top: 6px;
    list-style: none;
    color:#6B7280;
    font-size: 12px;
    font-weight: 500;
}

.header__delivery{
    font-size: 12px;
    font-weight: 500;
    color: #6B7280;
}

.header__delivery-time {
    font-size: 12px;
    font-weight: 700;
    color: #EA580C;
}

.header__menu-text-right {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 6px;
    gap: 20px;
}

.header__menu-text-right li a {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #6B7280;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.header__menu-text-right li a img {
    transition: transform 0.2s ease;
    height: 10px;
    width: 10px;
}

.header__menu-text-left li:last-child {
  border-left: 1px solid #D1D5DB;
  padding-left: 10px; 
}

.header__top span {
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
    margin-right: 460px;
}

.header__stripline {
    width: 100%;        
    height: 1px;       
    background-color: #D1D5DB;
    margin: 0px 0px;
}

.header__logo {
    display: flex;
    padding: 10px 130px 10px; 
    gap: 20px;
}


.header__search {
    display: flex;
    align-items: center;
    background: #F3F4F6;
    border-radius: 8px;
    flex: 1; 
    max-width: 100%; 
}

.header__search input {
    flex: 1; 
    border: none;
    padding: 12px 12px 12px 35px; 
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
    background: transparent;
    outline: none;
    min-width: 0; 
}

.header__search button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header__account {
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px ;
}

.header__bottom nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 130px;
}

.header__bottom ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__bottom ul li {
    margin-right: 15px;
}

.header__bottom ul li a {
    display: flex;      
    align-items: center; 
    gap: 5px;
    color: #030712;
    font-size: 13px;
    font-weight: 600;
}

.header__delivery {
    font-size: 12px;
    color: black;
    margin-top: 6px;
}

.header__bottom-text-right li{
    display: flex;       
    align-items: center;
    gap: 3px;
     
}
.header__bottom-text-right li:last-child a {
    color: #DC2626;
}
.header__bottom-text-right li:last-child img{
    margin-left: 5px;
}

.header__badge {
    display: flex; 
    align-items: center;
    justify-content: center;    
    width: 30px;             
    height: 18px;
    font-size: 8px;           
    font-weight: bold;
    background: linear-gradient(90deg, #DC2626, #EA580C);
    color: white;
    border-radius: 4px;
}

.hero {
    display: flex;
    background-image: url('Test/img/background SVG.svg'); 
    background-size: cover; /* позиционирование текста*/
    background-position: center;
    text-align: left; /* выравнивание текста по левому краю*/
    padding: 115px 130px;
    background-repeat: no-repeat;
}

.hero__content {
    max-width: 660px;
}

.hero__label {
  background: linear-gradient(90deg, rgba(22, 163, 74, 0.5) 0% ,rgba(34, 197, 94, 0) 60%);
  color: #166534;
  padding: 8px 12px;
  border-radius:  6px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
}

.hero__content h1 {
  font-size: 50px;
  font-weight: 700;
  color: #39245F;
  margin-bottom: 6px;
  line-height: 50px;
}

.hero__bottom-text {
  font-size: 13px;
  margin-bottom: 20px;
  color: #030712;
  line-height: 20px;
}

.hero__content .hero__button {
  background: #634C9F;
  padding: 4px 30px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.hero__button-with-text{
    display: flex;
    gap: 14px;    
}

.hero__price-current {
    font-family: "Barlow", sans-serif;
    color: #DC2626;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;    
}

.hero__old-price {
    font-family: "Barlow", sans-serif;
    color: #030712;
    font-weight: 500;
    font-size: 18px;           
}

.hero__description {
    font-weight: 400;
    font-size: 11px;
    color: #030712;
    opacity: 50%;
}

.categories ul {
    display: flex;
    list-style: none;
    justify-self: center;
    gap: 30px; 
    padding: 0;
    margin: 40px 0px;
    margin-bottom: 130px;
}

.categories ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #030712;
    font-weight: 700;
    font-size: 13px;
    margin: 0;
}

.categories li a img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 5px;
}

.circle {
    display: flex;
    width: 83px;    
    height: 83px;
    border-radius: 50%;
    background: #F3F4F6;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.circle img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

footer {
    background-color: #F3F4F6;
    padding: 70px 130px;
}

.footer__top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    gap: 500px;
}

.footer__top-text-container {
    flex: 1;
}

.footer-top-clue {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    line-height: 1.4;
    width: 400px;
    max-width: 1000%;
}

.under-clue {
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
    line-height: 17px;
    margin-top: 5px;
}

.top-input { /*кнопка ввода*/
    display: flex;
    text-align: left;
    width: 350px;
}

.input-wrapper { /*картинка для кнопки ввода*/
    position: relative;
    flex: 1;
}

.input-wrapper img {
    position: absolute;
    left: 8px;
    top: 53%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

.input-wrapper input {
    width: 87%;
    padding: 14px 12px 12px 25px;
    font-size: 12px;
    color: #9CA3AF;
    border: 1px solid #D1D5DB;
    border-radius: 8px 0 0 8px;
}

.top-input button {
    display: flex;
    align-items: center;     
    justify-content: flex-start; 
    padding: 12px 17px; 
    background: #634C9F;
    color: white;
    border: none;
    font-size: 10px;
    font-weight: 700;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.footer__top-input-container p {
    font-size: 9px;
    font-weight: 400;
    margin-top: 3px;
    color: #6B7280;

}

.strip-line{
    width: 100%;        
    height: 1px;       
    background-color: #D1D5DB;
    margin: 50px 0;
}

.information {
    display: flex;            
    justify-content: space-between; 
    gap: 30px;              
}

.information__help-text{
    color: #6B7280;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 6px;
}

.information__phone img{
    display: flex;
    position: relative;
    top: 77px;
    width: 25px;
    height: 25px;
}

.information__phone-schedule {
    font-size: 10px;
    font-weight: 400;
    color: #111827;
    margin-left: 40px;
    opacity: 60%;
    margin-top: 45px;
}
.information__phone-time{
    font-size: 17px;
    font-weight: 700;
    margin-left: 40px;
    color: #111827;
    margin-top: 5px;
}

.information__mail img{
    display: flex;
    position: relative;
    top: 64px;
    width: 25px;
    height: 25px;
}

.information__mail-help {
    font-size: 10px;
    font-weight: 400;
    color: #111827;
    margin-left: 40px;
    opacity: 60%;
    margin-top: 35px;
}

.information__mail-address {
    font-size: 13px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 4px;
    color: #111827;
}

.information__make-money {
    flex: 1;                 
}

.information__users-help {
    flex: 1;
    
}

.information-about{
    flex: 1;
}

.information-apps{
    flex: 1;
}

.information ul {
    list-style: none;
    color: #4B5563;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.information ul li a{
    text-decoration: none;
    color: #4B5563;
}

.information__heading{
    font-size: 12px;
    font-weight: 600;
    color: #111827;
}

.information__app-google {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.information__app-google img {
    width: 120px;
    height: 50px;
    object-fit: contain;
    margin-top: 10px;
}

.information__apps-text {
    color: #6B7280;
    font-size: 8px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 10px;
}

.information__app-appstore {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.information__app-appstore img{
    width: 120px;
    height: 50px;
    object-fit: contain;
    margin-top: 2px;
}

.information__media-text {
    color: #111827;
    font-size: 13px;
    font-weight: 400;
    margin-top: 35px;
}

.information__media img {
    margin-top: 8px;
}

.pay p {
    color: #6B7280;
    font-weight: 500;
    font-size: 10px;
    margin-top: 10px;
}

.pay img {
    margin-top: 10px;
}

.pay__documents {
    float: right;
    
}

.pay__documents ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.pay__documents ul li a{
    color: #111827;
    font-size: 10px;
    font-weight: 400;
    
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    background: white;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    list-style: none;
    padding: 2px 2px;
    min-width: 50px;
    z-index: 1;
}

.dropdown-menu li a {
    display: block;
    text-align: center;
    padding: 4px 6px;
    font-size: 12px;
    color: #6B7280;
    text-decoration: none;
    line-height: 6px;
}

.dropdown-menu li a:hover {
    color: #2c385271;
}   

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.2s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.dropdown:hover > a img {
    transform: rotate(-180deg);
}
.footer__top-input-container {
    position: relative;
}

.email-message {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #DC2626;
    display: none;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.icon {
    width: 25px;
    height: 25px;
    display: block;
    margin-top: 10px;
}

.notification-icon {
    position: absolute;
    top: 5px;    
    right: -6px;   
    width: 15px;   
    height: 15px;
}

.notification-badge {
    position: absolute;
    color: white;
    top: 4px;
    right: -7.5px;
    font-size: 8px;
    width: 18px;
    height: 12px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
}
